/*EJERCICIO 2

Define un documento HTML con 3 cajas contenedoras div (div1, div2 y div3), la primera con unas dimensiones de 500x500px y un background color amarillo. La segunda con dimensiones 300x300px y un background color verde. La tercera con dimensiones 150x150px y background color azul.
Usando posicionamiento absoluto establece para el div2 y el div3 el mismo origen que para el div1, de modo que el efecto generado sea ver un cuadrado amarillo dentro del cual hay un cuadrado verde dentro del cual hay un cuadrado azul.
b) Haz que las cajas estén centradas vertical y horizontalmente. Pon 40px de padding y 2px de borde al div1, 75px de padding al div 2 y 20px de borde de puntos al div3. Para esto usad box-sizing border-box*/

*{
  box-sizing: border-box;
}

.uno{
  height: 500px;
  width: 500px;
  background-color: yellow;
  position: absolute;
  left:auto;
  top:auto;
  padding: 40px;
  border: 2px solid pink;
  box-sizing:border-box;
}

.dos{
  height: 300px;
  width: 300px;
  background-color: green;
  position: absolute;
  left: 100px;
  top: 100px;
  padding: 75px;
  box-sizing:border-box;

}


.tres{

  height: 150px;
  width: 150px;
  background-color: blue;
  position: absolute;
  left: 172px;
  top: 172px;
  border: 20px dotted red;
  box-sizing:border-box;

}
