.footer {
  text-align: center;
  margin-top: 6%;
  margin-bottom: 6%;
  font-size: 10px;
}

.footer a {
  text-decoration: none;
}

@media (min-width: $min-tablet-size) {
  .footer {
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 1em;
  }
}
