.header-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo {
  display: block;
  width: 75%;
  align: left;
}

.logo a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.menu {
  display: none;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu-small {
  display: none;
}

.menu-small-show {
  display: block;
}

.menu-small-link {
  font-size: 2em;
}

.menu-small-item {
  list-style: none;
}

@media (min-width: $min-tablet-size) {
  .menu {
    display: flex;
    justify-content: space-around;
    align-self: auto;
    list-style: none;
    width: 100%;
  }
}
