.header {
  position: relative;
  background-color: $light-color;
  width: 100%;
}
.header-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $border-color;
  align-items: center;
}
.brand-link {
width: 80px;
}
.brand {
  max-width: 100%;
}
