$font-primary: 'Actor', sans-serif;
$font-secundary: 'Titillium Web', sans-serif;
$primary-color: #17447d;
$secundary-color: #306db6;
$tertiary-color: #ffcb03;
$quaternary-color: #dc1f26;
$main-font-color: #373f4a;
$secundary-font-color: #C3C9D1;
$min-tablet-size: 768px;
